* {
    /*font-family: Muli;*/
}

.banner {
    height: 100vh;
    background-color:#3f51b5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap !important;
    position: relative;
}

.banner-left {
    display: flex;
    flex: 1;
    justify-content: center;
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
    flex-direction: column;
    background-color: #fff;
    border-bottom: 1px solid rgba(63, 81, 181, 0.16);
}

.banner-right {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    position: relative;
}

#cf3 div {
    position:absolute;
}

#cf3 div.top2 {
    -webkit-animation-name: cf3FadeInOut;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 8s;
    -webkit-animation-direction: alternate;

    -moz-animation-name: cf3FadeInOut;
    -moz-animation-timing-function: ease-in-out;
    -moz-animation-iteration-count: infinite;
    -moz-animation-duration: 8s;
    -moz-animation-direction: alternate;

    -o-animation-name: cf3FadeInOut;
    -o-animation-timing-function: ease-in-out;
    -o-animation-iteration-count: infinite;
    -o-animation-duration: 8s;
    -o-animation-direction: alternate;

    animation-name: cf3FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 8s;
    animation-direction: alternate;
}

.banner-icon-cont {
    background-color: #3f51b5 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-icon {
    color: #fff;
}

[class^="banner-icon"]:before, [class*="banner-icon"]:before, [class^="banner-icon"]:after, [class*="banner-icon"]:after {
    font-size: 18rem !important;
    margin: 0 !important;
    padding: 50px;
}

.banner-title {
    color: #3f51b5;
    font-size: 5rem;
    font-weight: bolder;
}

.banner-text {
    color: #3f51b5;
    font-size: 1.5rem;
    font-weight: lighter;
}

.banner-button-menu {
    position: fixed;
    top: 20px;
    left: 30px;
    z-index: 1000;
}

.menu-bar {
    position: fixed;
    right: 30px;
    top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1000;
    color: #fff;
}

.menu-bar-option {
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
}

.menu-bar-option:hover {
    color: #fff;
    text-decoration: none;
}

[class^="icon-menu"]:before, [class*="icon-menu"]:before, [class^="banner-icon"]:after, [class*="icon-menu"]:after {
    font-size: 1.5rem !important;
    margin: 0 !important;
    color: #3f51b5;
    font-weight: bolder;
    background-color: white;
}

[class^="film-icon"]:before, [class*="film-icon"]:before, [class^="film-icon"]:after, [class*="film-icon"]:after {
    font-size: 5rem !important;
    margin: 0 !important;
    color: #3f51b5;
    font-weight: lighter;

}

.title-info {
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.button-down-section {
    color: #3f51b5 !important;
    position: absolute;
    right: 50%;
    bottom: 20px;
    font-size: 2rem;
}

@media (max-width: 767px) {
    [class^="banner-icon"]:before, [class*="banner-icon"]:before, [class^="banner-icon"]:after, [class*="banner-icon"]:after {
        font-size: 12rem !important;
        margin: 0 !important;
    }
    .banner {
        flex-direction: column;
    }
    .banner-left {
        padding-left: 10px;
        padding-right: 10px;
    }
    .title-info {
        padding-left: 10px;
        padding-right: 10px;
    }
    .button-down-section {
        bottom: 5px
    }
    .banner-title {
        text-align: center;
    }
    .banner-text {
        text-align: center;
    }
}

@media (max-width: 440px) {
    [class^="banner-icon"]:before, [class*="banner-icon"]:before, [class^="banner-icon"]:after, [class*="banner-icon"]:after {
        font-size: 10rem !important;
        margin: 0 !important;
    }
    .banner-title {
        font-size: 3rem;
        padding-top: 20px;
    }
    .banner-text {
        font-size: 0.9rem;
    }
    .title-info {
        font-size: 1.4rem;
    }
    .button-down-section {
        bottom: 5px
    }
    [class^="film-icon"]:before, [class*="film-icon"]:before, [class^="film-icon"]:after, [class*="film-icon"]:after {
        font-size: 3rem !important;
    }
}

@media (max-width: 359px) {
    [class^="banner-icon"]:before, [class*="banner-icon"]:before, [class^="banner-icon"]:after, [class*="banner-icon"]:after {
        font-size: 9rem !important;
        margin: 0 !important;
    }
    .banner-title {
        font-size: 3rem;
    }
    .banner-text {
        font-size: 0.9rem;
    }
    .title-info {
        font-size: 1.3rem;
    }
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    z-index: 1001;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.4s;
    padding: 1rem 0;
    box-sizing: border-box;
    -webkit-box-shadow: 3px 0px 10px -2px rgba(125,121,125,1);
    -moz-box-shadow: 3px 0px 10px -2px rgba(125,121,125,1);
    box-shadow: 3px 0px 10px -2px rgba(125,121,125,1);
}

.sidebar .boton-cerrar {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 2rem;
    display: block;
    padding: 0;
    line-height: 1.5rem;
    margin: 0;
    height: 32px;
    width: 32px;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
}

[class^="icon-close-menu"]:before, [class*="icon-close-menu"]:before, [class^="banner-icon"]:after, [class*="icon-close-menu"]:after {
    font-size: 1rem !important;
    margin: 0 !important;
    color: #333;
}

.sidebar ul, .sidebar li{
    margin:0;
    padding:0;
    list-style:none inside;
}

.sidebar ul {
    margin: 4rem auto;
    display: block;
    width: 80%;
    min-width:200px;
}

.sidebar li {
    border-bottom: 1px solid rgba(63, 81, 181, 0.16);
}

.sidebar li:hover {
    background-color: #3f51b5;
    padding-left: 10px;
    color: #fff !important;

}

.sidebar a {
    display: block;
    font-size: 120%;
    color: #333;
    text-decoration: none;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
}

.sidebar a:hover {
    color: #fff !important;
    padding-left: 10px;
}

#contenido {
    transition: margin-left .4s;
    padding: 1rem;
}

#cerrar {
    display:none;
}

.section-work {
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.title-section {
    font-weight: bolder;
    color: #333;
    text-align: center;
    position: relative;
    padding-top: 50px;
}

.section-items {
    margin-top: 50px;
}

.peace {
    display: flex;
    align-self: center;
    margin-top: 25px;
}

.da-thumbs {
    list-style: none;
    height: 90%;
    position: relative;
    padding: 0;
}
.da-thumbs li {
    background: #fff;
    padding: 8px;
    position: relative;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    height: 100%;
}
.da-thumbs li a,
.da-thumbs li a img {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}
.da-thumbs li a {
    overflow: hidden;
}
.da-thumbs li a div {
    position: absolute;
    background: #333;
    background: rgba(63, 81, 181, 0.62);
    width: 100%;
    height: 100%;
}
.da-thumbs li a div span {
    display: block;
    padding: 10px 0;
    margin: 40px 20px 20px 20px;
    font-weight: normal;
    color: rgba(255,255,255,0.9);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.5);
    box-shadow: 0 1px 0 rgba(0,0,0,0.1), 0 -10px 0 rgba(255,255,255,0.3);
    font-size: 1.2rem;
}

.portfolio-controllers-container{
    margin-bottom: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio-controllers{
    padding: 0px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.portfolio-controllers .filter-btn{
    float: left;
    padding: 10px 15px;
    border: 1px solid #3f51b5;
    outline: 0px;
    margin: 0px 15px 15px 0px;
    -webkit-transition : all 0.3s ease;
    transition : all 0.3s ease;
    cursor: pointer;
    background-color: transparent;
    color: #222;
}

.portfolio-controllers .filter-btn:hover{
    background-color: #3f51b5;
    color: #fff;
}

.portfolio-controllers .btn-default{
    color: #808080;
}

.portfolio-controllers .filter-btn.active-work{
    color: #3f51b5;
}

.portfolio-controllers .filter-btn.active-work:hover{
    color: #fff;
}

.portfolio{
    padding: 0;
}

/*.portfolio-image{*/
    /*overflow: hidden;*/
    /*cursor: pointer;*/
    /*height: 90%;*/
/*}*/

/*.portfolio-image img{*/
    /*width: 100%;*/
    /*height: 100% !important;*/
    /*transform : scale(1);*/
    /*-webkit-transition : all 0.5s ease;*/
    /*transition : all 0.5s ease;*/
    /*position: relative;*/
/*}*/

/*.portfolio-image:hover img{*/
    /*transform : scale(1.2);*/
    /*cursor: pointer;*/
/*}*/

/*.portfolio-image::after{*/
    /*content: '';*/
    /*position: absolute;*/
    /*width: 100%;*/
    /*height: 100% !important;*/
    /*top: 0px;*/
    /*left: 0px;*/
/*}*/

.work .caption{
    width: 100%;
    height: 300px !important;
    position: absolute;
    top: 0px;
    left: 0px;
    cursor: pointer;
    opacity: 0;
    transform : scale(1.2);
    -webkit-transition : all 0.5s ease;
    transition : all 0.5s ease;
    padding: 10px;
    z-index: 999;
}

.portfolio-image:hover .caption{
    opacity: 1;
    transform : scale(1);
}

@media(max-width:767px){

    .portfolio-controllers .filter-btn{
        margin-bottom: 15px;
        padding: 10px 12px;
        margin-left: 10px;
    }
}

.section-joinus {
    display: flex;
    flex-direction: row;
}

.section-joinus-left {
    display: flex;
    flex: 1;
    background: #3f51b5;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section-joinus-right {
    display: flex;
    flex: 1.5;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top: 1px solid rgba(63, 81, 181, 0.16);
    border-bottom: 1px solid rgba(63, 81, 181, 0.16);
}

.button-join {
    background-color: transparent;
    padding: 10px;
    padding-left: 30px !important;
    padding-right: 30px !important;
    border: 2px solid #3f51b5;
    color: #3f51b5;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 600;
}

.button-join-mobile {
    background-color: transparent;
    padding: 10px;
    padding-left: 30px !important;
    padding-right: 30px !important;
    border: 2px solid #3f51b5;
    color: #3f51b5;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 600;
    display: none;
}

.button-join:hover {
    background-color: #3f51b5;
    color: #fff;
    text-decoration: none;
}

.button-join-mobile:hover {
    background-color: #3f51b5;
    color: #fff;
    text-decoration: none;
}

@media (max-width: 440px) {
    .section-joinus {
        flex-direction: column;
    }
    .section-joinus-right {
        padding-left: 10px;
        padding-right: 10px;
    }
}
.btn-login {
    background-color: #fff;
    border: 2px solid #3f51b5;
    width: 65px;
    height: 65px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    position: fixed;
    z-index: 1100;
    bottom: 20px;
    right: 30px;
    color: #3f51b5;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    outline: none !important;
}

.btn-login-mobile {
    background-color: #fff;
    border: 2px solid #3f51b5;
    width: 65px;
    height: 65px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    position: fixed;
    z-index: 1100;
    bottom: 20px;
    right: 30px;
    color: #3f51b5;
    font-weight: bolder;
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    outline: none !important;
    display: none;
}

.section-contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-contact-left {
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
}

.section-contact-right {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.contact-title {
    font-size: 2rem;
    color: #3f51b5;
    font-weight: bolder;
    padding-bottom: 50px;
}

.contact-info {
    color: #333;
    font-size: 1.3rem;
    font-weight: bolder;
    padding-bottom: 30px;
}

.contact-info-text {
    padding-bottom: 10px;
    color: #333;
    font-size: 1rem;
}

.contact-icon {
    color: #3f51b5;
    font-size: 2rem;
    padding-right: 20px;
}

.contact-icon:hover {
    color: #3f51b5;
    text-decoration: none;
}

.input-contact {
    border-radius: 0 !important;
    height: 40px;
    color: #333 !important;
    font-size: 13px !important;
}

.textarea-contact {
    border-radius: 0 !important;
    color: #333 !important;
    font-size: 13px !important;
}

@media (max-width: 440px) {
    .contact-title {
        font-size: 1.5rem;
    }
    .section-contact {
        flex-direction: column;
    }
    .section-contact-right {
        margin-top: 30px;
    }
}

.btn-send {
    padding: 10px;
    padding-left: 20px !important;
    padding-right: 20px !important;
    border: 2px solid #3f51b5;
    margin-top: 30px !important;
    color: #3f51b5 !important;
    font-weight: 600;
}

.btn-send:hover {
    background-color: #3f51b5;
    color: #fff !important;
    text-decoration: none;
}

.modal-row {
    display: flex;
    flex-direction: row;
    position: relative;
}

.modal-left {
    display: flex;
    flex: 1;
    padding: 20px;
    min-height: 400px;
    position: relative;
    justify-content: center;
    flex-direction: column;
}

.modal-right {
    display: flex;
    flex: 1;
    padding: 20px !important;
    justify-content: center;
    flex-direction: column;
    position: relative;
    min-height: 400px;
}

.modal-options {
    height: 100%;
    position: absolute;
    display: flex;
    width: 50%;
    background-image: url("../images/Strong-Woman-16-02006.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.modal-mask {
    height:100%;
    background: rgba(63, 81, 181, 0.62);
    position: absolute;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.modal-mask-title {
    color: #fff;
    font-weight: bold;
    font-size: 2rem;
    padding-bottom: 30px;
    text-align: center;
}

.separator-sm {
    width: 50px;
    height: 3px;
    background: #fff;
    margin-bottom: 30px;
}

.modal-account {
    font-size: 14px;
    color: #fff;
    font-weight: 600;
}

.btn-white {
    padding: 8px;
    padding-left: 30px !important;
    padding-right: 30px !important;
    border: 2px solid #fff;
    color: #fff !important;
    font-weight: 600;
    cursor: pointer;
}

.btn-white:hover {
    background-color: #fff !important;
    color: #3f51b5 !important;
    text-decoration: none;
}

.btn-blue {
    padding: 8px;
    padding-left: 30px !important;
    padding-right: 30px !important;
    border: 2px solid #3f51b5;
    color: #3f51b5 !important;
    font-weight: 600;
    cursor: pointer;
    background-color: #fff;
}

.btn-blue:hover {
    background-color: #3f51b5;
    color: #fff !important;
    text-decoration: none;
}

.modal-text-title {
    color: #3f51b5;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 40px;
}

.ml-5 {
    margin-left: 10px !important;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.mri-5 {
    margin-right: 10px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-10 {
    margin-bottom: 10px;
}

.btn-close-modal-right {
    position: absolute;
    top: 20px;
    right: 25px;
}

.forgot-password {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}

.link-forgot {
    padding-left: 10px;
    color: #3f51b5;
    text-decoration: underline;
}

.hide {
    display: none;
}

.block {
    display: block !important;
}

.mt-40 {
    margin-top: 40px !important;
}

.input-cont {
    display: flex;
    flex: 1;
    flex-direction: column;
    position: relative;
}

.required {
    display: none;
    font-size: 12px;
    padding-top: 5px;
    color: #b54542;
}

.showPass {
    position: absolute;
    right: 15px;
    top: 6px;
    font-size: 20px;
    color: #b8bec4;
    cursor: pointer;
}

.hidePass {
    position: absolute;
    right: 15px;
    top: 6px;
    font-size: 20px;
    color: #3f51b5;
    display: none;
    cursor: pointer;
}

@media (max-width: 767px) {
    .button-join-mobile {
        display: block;
    }
    .button-join {
        display: none;
    }
    .btn-login {
        display: none !important;
    }
    .modal-row {
        flex-direction: column;
    }
    .modal-options {
        width: 100%;
        height: 50%;
    }
    .btn-login-mobile {
        display: flex;
    }
    .modal-left {
        margin-bottom: 50px;
    }
    .modal-right {
        margin-bottom: 50px;
    }
}

/*.modal-mobile {*/
    /*display: none;*/
/*}*/